{% extends "::layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="index-banner">
        <div class="wmuSlider example1" style="height: 560px;">
            <div class="wmuSliderWrapper">
                <article style="position: relative; width: 100%; opacity: 1;"> 
                    <div class="banner-wrap">
                        <div class="slider-left">
                            <img src="{{site}}{{sliders[0]["path"]}}" alt=""/> 
                        </div>
                        <div class="clear"></div>
                    </div>
                </article>
                <article style="position: absolute; width: 100%; opacity: 0;"> 
                    <div class="banner-wrap">
                        <div class="slider-left">
                            <img src="{{site}}{{sliders[1]["path"]}}" alt=""/>  
                        </div>
                        <div class="clear"></div>
                    </div>
                </article>
                <article style="position: absolute; width: 100%; opacity: 0;"> 
                    <div class="banner-wrap">
                        <div class="slider-left">
                            <img src="{{site}}{{sliders[2]["path"]}}" alt=""/> 
                        </div>
                        <div class="clear"></div>
                    </div>
                </article>
            </div>
            <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
        </div>	           	      
    </div>

    <div class="main">
        <div class="wrap">
            <div class="content-bottom">
                <div class="box1">
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="{{path("product_popular")}}">
                            <div class="view view-fifth">
                                <div class="top_box">
                                    <h3 class="m_1">Produits stars</h3>
                                    <p class="m_2">Les produits les plus populaires</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="{{asset("images/gold-star.jpg")}}" alt=""/></div>
                                        <div class="mask">
                                            <div class="info">Voir la page</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="{{path("site_presentation")}}">
                            <div class="view view-fifth">
                                <div class="top_box">
                                    <h3 class="m_1">Qui sommes nous</h3>
                                    <p class="m_2">Nous nous présentons ici</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="{{asset("images/qui.png")}}" alt=""/></div>
                                        <div class="mask">
                                            <div class="info">Voir la page</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="{{path("client_signin")}}">
                            <div class="view view-fifth">
                                <div class="top_box">
                                    <h3 class="m_1">Inscrivez-vous</h3>
                                    <p class="m_2">une inscription rapide est nécessaire pour commander des produits</p>
                                    <div class="grid_img">
                                        <div class="css3"><img src="{{asset("images/inscription.jpeg")}}" alt=""/></div>
                                        <div class="mask">
                                            <div class="info">Voir la page</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
