{% extends "::layout.html.twig" %}

{% block title %}les produits populaires{% endblock %}

{% block body %}
    <div class="login">
        <div class="wrap">
            <div class="cont span_2_of_3">
                <div class="box1">
                    {% for product in products %}
                        <div class="col_1_of_single1 span_1_of_single1"><a href="{{path("product_plug", {id : product.id})}}">
                                {% if product.pictures[0] is defined %}
                                    {% set path = site~product.pictures[0].path %} 
                                {% else %}
                                    {% set path = "" %}
                                {% endif %}
                                    <div class="view1 view-fifth1">
                                        <div class="top_box">
                                            <h3 class="m_1">{{product.name}}</h3>
                                            <p class="m_2">{{product.description}}</p>
                                            <div class="grid_img">
                                                <div class="css3"><img src="{{path}}" alt=""/></div>
                                                <div class="mask1">
                                                    <div class="info">Voir la fiche produit</div>
                                                </div>
                                            </div>
                                            <div class="price">{{product.price}}</div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </a>  
                            </div>
                            {% endfor %}

                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                {% endblock %}
